{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper">

      <h1 class="govuk-heading-l">User account data</h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Subject identifier"
            },
            value: {
              text: userinfo.sub
            }
          },
          {
            key: {
              text: "Email Address"
            },
            value: {
              text: userinfo.email
            }
          },
          {
            key: {
              text: "Phone Number"
            },
            value: {
              text: userinfo.phone_number
            }
          }
          ,
          {
            key: {
              text: "vc"
            },
            value: {
              text: identityCheckCredential | dump(2)
            }
          }
          ,
          {
            key: {
              text: "Address"
            },
            value: {
              text: addressClaim | dump(2)
            }
          }
          ,
          {
            key: {
              text: "Passport"
            },
            value: {
              text: passportClaim | dump(2)
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "/"
      }) }}

      {{ govukButton({
        text: "Verify identity",
        href: "verify"
      }) }}

      {{ govukButton({
        text: "Logout",
        href: "logout"
      }) }}
    </div>
  </main>
</div>
{% endblock %}